#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;

text-align: center;

  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  top: 40px;
}


.content1{
  position: fixed;

text-align: left;

  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  top: 40px;
  left: 300px;
}
.footer {
   position: fixed;
   width: 100%;
   background-color: #BBC4C2;
   color: white;
   text-align: center;
   left: 0;
   bottom:0;
}
